<div id="gauges">
  <%= link_to_remote(l(:label_previous), :update => "gauges",
    :url => {:action => :prev_week, :base_date => @base_date}) %>
  <%= link_to_remote(l(:label_next), :update => "gauges",
    :url => {:action => :next_week, :base_date => @base_date}) %>
  <table class="list">
    <tr>
      <th><%= l(:label_member) %></th>
      <% get_week(@base_date).each do |date| %>
        <th><%= date.strftime("%m/%d") %></th>
      <% end %>
    </tr>
    <% @members.each do |member| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= "#{member.user.firstname} #{member.user.lastname}" %></td>
      <% get_week(@base_date).each do |date| %>
        <% drop_receiving_id = "#{member.user_id.to_s}_#{date.to_s}" %>
        <td class="cell" id='<%= drop_receiving_id %>'>
          <%= progress_bar([member.closed_pourcent_by_date(date), member.completed_pourcent_by_date(date)], :width => '100%') %>
          <% issues = member.issues_by_date(date) %>
          <% if issues.size > 0 %>
            <div id="gauge_closed">
              <div class="gauge_label"><%= l(:label_closed) %>: </div>
              <div class="gauge_value"><%= member.closed_issues_by_date(date).size %></div>
            </div>
            <div id="gauge_all">
              <div class="gauge_label"><%= l(:label_all) %>: </div>
              <div class="gauge_value"><%= issues.size %></div>
            </div>
            <script language="javascript">
              j$('#<%= drop_receiving_id %>').qtip({
                content: '<%= issues_tip(issues) %>',
                position: {
                  corner: {
                    target: 'topMiddle',
                    tooltip: 'bottomMiddle'
                  }
                },
                style: {
                  border: {
                    width: 7,
                    radius: 7
                  },
                  tip: 'bottomMiddle',
                  name: 'light'
                },
                show: 'mouseover',
                hide: {
                  when: 'mouseout',
                  effect: {
                    type: 'fade',
                    length: 500
                  },
                  fixed: true
                },
                api: {
                  onShow: function() {
                    <% issues.each do |i| %>
                      new Draggable('tip-issue_<%= i.id.to_s %>', {revert: true, ghosting:true});
                    <% end %>
                  }
                }
              });
            </script>
          <% end %>
          <%= drop_receiving_element drop_receiving_id,
            :update => 'gauges',
            :with => "'dropped=' + element.id",
            :hoverclass => "hover",
            :url => { :action => "move_issue",
              :where => drop_receiving_id,
              :project_id => @project,
              :base_date => @base_date
            }
          %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </table>
  <%= hidden_field_tag('project_id', @project.to_param) if @project %>
  <%= hidden_field_tag('base_date', @base_date.to_s) if @base_date %>
</div>
