<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'gauges', :plugin => 'redmine_red_gauges' %>
  <%= javascript_include_tag 'jquery.js', :plugin => 'redmine_red_gauges' %>
  <%= javascript_include_tag 'jqueryqtip.js', :plugin => 'redmine_red_gauges' %>
<% end %>
<script>
// 下記2行を追加
jQuery.noConflict();
var j$ = jQuery;
</script>
<h2><%= l(:label_gauges) %></h2>
<%= render :partial => 'gauges/gauges', :locals => {:members => @members} %>
<%= render :partial => 'gauges/list', :locals => {:issues => @issues, :query => @query} %>
