<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'gauges', :plugin => 'redmine_red_gauges' %>
  <%= javascript_include_tag 'jquery.js', :plugin => 'redmine_red_gauges' %>
  <%= javascript_include_tag 'jqueryqtip.js', :plugin => 'redmine_red_gauges' %>
<% end %>
<script>
jQuery.noConflict();
var j$ = jQuery;

function getSelectedIssues(dropped) {
  var table = j$(dropped).parents("table.list");
  return j$(".context-menu-selection", table);
}

function getDroppedIssueIds(dropped) {
  var ret = dropped.id;
  getSelectedIssues(dropped).each(function(){
    ret += "," + this.id;
  });
  return ret;
}

function toDraggable(id) {
  new Draggable(id, {revert: true, ghosting:true});
}
</script>
<h2><%= l(:label_gauges) %></h2>
<%= render :partial => 'gauges/gauges', :locals => {:members => @members} %>
<%= render :partial => 'gauges/list', :locals => {:issues => @issues, :query => @query} %>
<% content_for :sidebar do %>
<% end %>
<div id="context-menu" style="display: none;"></div>
<%= context_menu issues_context_menu_path %>
