<h2>Gauges#index</h2>

<table class="list">
  <tr>
    <th><%= l(:label_member) %></th>
    <th>issue</th>
    <% get_this_week().each do |date| %>
      <th><%= date.strftime("%m/%d") %></th>
    <% end %>
  </tr>
  <% @members.each do |member| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= "#{member.firstname} #{member.lastname}" %></td>
    <td><%= member.issues.to_s %></td>
    <% get_this_week().each do |date| %>
      <td><%= member.closed_issues_count_by_date(date) %> / <%= member.issues_count_by_date(date) %></td>
    <% end %>
  </tr>
  <% end %>
</table>
